<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>

        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="page-heading">
                            <h1>Jinwoo's profile</h1>
                            <hr class="small">
                            <span class="subheading">Who am I ?</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>1992.10.2일 출생.</p>
                    <p>현재 부산대학교 정보컴퓨터 공학부 재학중.</p>
                    <p>취미는 이것저것 마음 내키는 것 하는게 좋음 </p>
                    <p>현재 졸업 과제 및 여러 프로젝트 때문에 속 뒤집어지는 상태... ㅎㅎ </p>
                    <p>아래는 현재 진행 중인 프로젝트 진행중인 사진을 올렸습니다. </p>
                    <div style="border: 1px solid gold; float: left; width: 33%;">
                        <img class="img-responsive" src="img/창의1.png" alt="">
                    </div>
                    <div style="border: 1px solid red; float: left; width: 33%;">
                        <img class="img-responsive" src="img/창의2.png" alt="">
                    </div>
                    <div style="border: 1px solid blue; float: left; width: 33%;">
                        <img class="img-responsive" src="img/창의3.png" alt="">
                    </div>

                    <div style="border: 1px solid green; margin: auto; width: 40%;">
                        <img class="img-responsive" src="img/창의4.png" alt="">
                    </div>

                    <span class="caption text-muted">현재 창의 프로젝트 진행중.</span>
                    <p>재료를 샀는데 망가졌다... 다시 사야하나..... 망했다.</p>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <% include partials/link %>
        </footer>

        <!-- jQuery -->
        <script src="vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="js/clean-blog.min.js"></script>

</body>

</html>
